{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block style %}

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                <li class="breadcrumb-item"><a href="#">Reservations</a></li>
                <li class="breadcrumb-item active">Ajouter une réservation</li>
            </ol>
        </div>
        <h5 class="page-title">Ajouter une réservation</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body text-center">
                <form  method="GET" >
                    {% csrf_token %}
                    
                    
                    <input type=""  placeholder="Départ">
                    {% render_field form.check_in %}
                    <input type=""  placeholder="Arrivée">
                    <input type=""  placeholder="Nombre de personne">
                    <input type="submit"  value="Vérifier la réservation">

                    
                </form>
                
                
            </div>
        </div>
    </div> 
</div>


{% endblock content %}

{% block script %}
                
{% endblock %}