{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Reservation</title>
{% endblock %}


{% block style %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                <li class="breadcrumb-item"><a href="#">Reservations</a></li>
                <li class="breadcrumb-item"><a href="#">Liste des réservations</a></li>
                <li class="breadcrumb-item active">Détails</li>
            </ol>
        </div>
        <h5 class="page-title">Détails de la réservation</h5>
    </div>
</div>

<div class="row">
        <div class="col-9">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title"> {{ reservation.chambre.hotel.name }}</h4>
                    

                    <dl class="row mb-0">
                        <dt class="col-sm-4">Reference</dt>
                        <dd class="col-sm-8">{{ reservation.id }}</dd>

                        <dt class="col-sm-4">Code confidentiel </dt>
                        <dd class="col-sm-8">{{ reservation.secret_key }}</dd>
                        
                        <dt class="col-sm-4">Statut </dt>
                        <dd class="col-sm-8">{{ reservation.status }}</dd>
                        

                        <dt class="col-sm-4">Arrivée</dt>
                        <dd class="col-sm-8">{{ reservation.check_in|date:"D d M Y" }}</dd>
                        
                        <dt class="col-sm-4">Depart</dt>
                        <dd class="col-sm-8">{{ reservation.check_out|date:"D d M Y" }}</dd>

                    </dl>
                    
                </div>

            </div>

        </div>
        <div class="col-3">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title"> {{ reservation.chambre.hotel.name }}</h4>
                    <p class="text-muted m-b-30 font-14">Align terms and descriptions
                        horizontally by using our grid system’s predefined classes </p>

                    
                    {% if reservation.status == "AN" %}
                    
                    <p> Annulé</p>
                    {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Annuler
                    </button>
                    
                    
                    {% endif %}
                    
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Avertissement</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                            Étes vous sure d'annuler votre réservation ??
                            </div>
                            <div class="modal-footer">
                            <a href="{% url 'annul_reservation' reservation.token %}"><button type="button" class="btn btn-primary">OUI</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                            
                            </div>
                        </div>
                        </div>
                    </div>
  
                </div>

            </div>

        </div>
</div>


{% if not verify_pay %}
<div class="row">
    <div class="col-9">

        <div class="card m-b-30">
            <div class="card-body">

            <form method="POST" enctype="multipart/form-data">
                
                
                {% render_field form.payment_method class="form-control" %}
                {% render_field form.transaction_id class="form-control"%}
                {% csrf_token %}
                <button type="submit">Payer</button>
            </form>
                                
            </div>

        </div>

    </div>
</div>
{% else %}
<div></div>
{% endif %}
    







{% endblock content %}

{% block script %}
{% endblock %}