.reservation-card {
    box-shadow: 1px 1px 7px 4px rgba(136,143,135,0.39);
    border-radius: 5px; 
    background-color: white;
}

.reservation-card:hover {
    box-shadow: 1px 1px 5px 7px rgba(70,74,70,0.24);
    border-radius: 5px; 
    background-color: white;
}

h2, h3, h4 {
    margin: 0 0 !important;
}