{% extends 'accounts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Profil</title>
{% endblock %}


{% block style %}

       



{% endblock %}


{% block content %}



 <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                        <li class="breadcrumb-item active">Profil</li>
                    </ol>
                </div>
                <h4 class="page-title">Profil</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-3 ">
          <div class="nav flex-column nav-pills h-auto p-2" style="background-color: white; border-radius: 5px;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Informations personnelles</a>
            
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-securite" role="tab" aria-controls="v-pills-securite" aria-selected="false">Sécurité</a>
            
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card m-b-30">
                        <div class="card-body">

                            <h2 class="mt-0 header-title">Informations personnelles</h2>
                            <p class="text-muted m-b-30 font-14">
                                lorem ipsum dolor sit amet, consectetur adip
                            </p>

                            <div class="">
                                <div class="row">
                                    <div class="col-5">Nom </div>
                                    <div class="col-7">DAVAKAN</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">Prénom</div>
                                    <div class="col-7">Ben</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">Email</div>
                                    <div class="col-7">Ben@gmail.com</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">Numéro de Téléphone </div>
                                    <div class="col-7">97662516</div>
                                </div> 
                                <hr>
                                <div class="row">
                                    <div class="col-5">Date de Naissance</div>
                                    <div class="col-7">-</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">Nationalité </div>
                                    <div class="col-7">-</div>
                                </div> 
                                <hr>
                                <div class="row">
                                    <div class="col-5">Genre </div>
                                    <div class="col-7">Masculin</div>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                 </div> <!-- end col -->  
            </div>
        </div>
            <div class="tab-pane fade" id="v-pills-securite" role="tabpanel" aria-labelledby="v-pills-securite-tab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card m-b-30">
                            <div class="card-body">
    
                                <h2 class="mt-0 header-title">Sécurité </h2>
                                <p class="text-muted m-b-30 font-14">
                                    lorem ipsum dolor sit amet, consectetur adip
                                </p>
    
                                <div class="">
                                    <div class="row">
                                        <div class="col-5">Nom </div>
                                        <div class="col-7">DAVAKAN</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">Prénom</div>
                                        <div class="col-7">Ben</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-5">Email</div>
                                        <div class="col-7">Ben@gmail.com</div>
                                    </div>
                                    <hr>
                                    
                                    
                                </div>
    
                            </div>
                        </div>
                     </div> <!-- end col -->  
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">{% lorem 5 %}</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                {% lorem 7 %}
            </div>
          </div>
        </div>
      </div>
</div>




{% endblock %}

{% block script %}
        
{% endblock %}