{% extends 'base.html'%}
{% load static %}

{% block title %}
<title>Hôtels</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/otl.css' %}">
<style>
  body {
    background-color: lightgray;
  }
</style>
{% endblock %}


{% block content %}
<br>

  <div class="container">
    <div class="row">
          <div class="col-lg-3 sidebar  ftco-animate">
              <div class="sidebar-wrap ftco-animate">
                <form action="#">
                  <div class="fields">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Oû allez-vous?">
                    </div>
                    <div class="form-group">
                      <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      
                      </div>
                      </div>
                      <div class="form-group">
                        <input type="text" id="checkout_date" class="form-control checkout_date" value='{{ t1 }}'  placeholder="Date de depart">
                      </div>
                      <div class="form-group">
                        <input type="text" id="checkin_date" class="form-control checkin_date" value='{{ t2 }}' placeholder="Date d'arrivée">
                      </div>
                      <div class="form-group">
                      <input type="submit" value="Rechercher" class="btn btn-primary py-3 px-5">
                    </div>
                  </div>
                </form>
              </div>
          </div>
          <div class="col-lg-9">
              <p> {{ message }} </p>
              {% for av in available_hotels %}
                <div class="col-12 m-0">
                  <div class="row p-2 mt-4 " style="background-color: white; border-radius: 5px;">
                      <div class="col-md-4 p-0">
                        <img class="h-auto" src="{% static 'img/room-5.jpg' %}" style="border-top-left-radius: 5px;border-top-right-radius:
                          5px;border-bottom-right-radius: 5px;">
                      </div>
                      <div class="col-md-5 py-0">
                        <h4 class="card-title"><a href="{% url 'hotel' av.slug %}">{{ av.name }}</a></h4>
                      </div>
                      <div class="col-md-3 py-0 pr-0">
                        <div class="row col-12 m-0 p-0 fixed-bottom" style="position:absolute !important">
                          <a class="btn btn-primary ml-md-auto" href="" role="button">Réserver</a>
                        </div>
                      </div>
                  </div>
                </div>
              {% endfor %}
          </div>  
    </div>
  </div>




  

{% endblock %}