{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Hotel</title>
{% endblock %}


{% block style %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active">Datatable</li>
            </ol>
        </div>
        <h5 class="page-title">Datatable</h5>
    </div>
</div>

<div class="row">
        <div class="col-9">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title"> {{ reservation.chambre.hotel.name }}</h4>
                    <p class="text-muted m-b-30 font-14">Align terms and descriptions
                        horizontally by using our grid system’s predefined classes (or semantic
                        mixins). For longer terms, you can optionally add a  class to
                        truncate the text with an ellipsis.</p>

                    <dl class="row mb-0">
                        <dt class="col-sm-4">Reference</dt>
                        <dd class="col-sm-8">{{ reservation.id }}</dd>

                        <dt class="col-sm-4">Code confidentiel </dt>
                        <dd class="col-sm-8">{{ reservation.secret_key }}</dd>
                        
                        <dt class="col-sm-4">Statut </dt>
                        <dd class="col-sm-8">{{ reservation.status }}</dd>
                        

                        <dt class="col-sm-4">Arrivée</dt>
                        <dd class="col-sm-8">{{ reservation.check_in|date:"D d M Y" }}</dd>
                        
                        <dt class="col-sm-4">Depart</dt>
                        <dd class="col-sm-8">{{ reservation.check_out|date:"D d M Y" }}</dd>

                    </dl>
                    
                </div>

            </div>

        </div>
        
</div>



{% endblock content %}

{% block script %}
{% endblock %}