{% load static %}
<div id="preloder">
    <div class="loader"></div>
</div> 


<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__logo">
        <a href="./index.html"><img src="{% static '/static/img/logo1.png'%}" alt=""></a>
    </div>
    <div id="mobile-menu-wrap"></div>
    
    <div class="offcanvas__widget">
        <ul>
            <li><span class="icon_pin_alt"></span> 96 Ernser Vista Suite 437, NY, US</li>
            <li><span class="icon_phone"></span> (123) 456-78-910</li>
        </ul>
    </div>
    <div class="offcanvas__language">
        <img src="img/lan.png" alt="">
        <span>English</span>
        <i class="fa fa-angle-down"></i>
        <ul>
            <li>English</li>
            <li>Bangla</li>
        </ul>
    </div>
    <div class="offcanvas__auth">
        <ul>
            <li><a href="/a-propos">À propos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/connexion/">Se connecter</a></li>
        </ul>
    </div>
</div>


<header class="header" >
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul class="header__top__widget">
                            <li><span class="icon_pin_alt mb-0"></span> </li>
                            <li><span class="icon_phone mb-0"></span> </li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="header__top__right">
                            <div class="header__top__auth">
                                <ul>
                                  <li><a href="{% url 'a-propos' %}">À propos</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                    
                                    {% if user.is_authenticated == True %}
                                    
                                    <li class="dropdown show" >
                                        <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="mr-1"><i class="fa-solid fa-user"></i></span>
                                          {{ request.user.first_name }}
                                        </a>
                                      
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >


                                            {% if user.is_manager == True %} 
                                            <a class="dropdown-item" href="{% url 'manager-dash' %}" style="color: black;">Compte</a>
                                             {% else %}
                                             <a class="dropdown-item" href="{% url 'customer-dash' %}" style="color: black;">Compte</a>
                                             {% endif %}


                                        {% if user.is_superuser == True %}
                                          <a class="dropdown-item" href="/admin" style="color: black;" target="_blank">Dashboard</a>
                                          {% endif %}
                                          
                                          <a class="dropdown-item" href="{% url 'deconnexion' %}" style="color: black;">Deconnexion</a>
                                        </div>
                                      </li>
                                    {% else %}
                                    <li><a href="{% url 'connexion' %}">Se connecter</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="header__top__language">
                                <img src="{% static 'img/lan.png'%}" alt="">
                                <select class="w-auto" style="border: none; background-color: transparent;">
                                  <option value="">Français</option> 
                                  <option value="">English</option>  
                                </select>
                            </img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__nav__option " >
            <div class="container ">
                <div class="row">
                    <div class="col-lg-2 d-flex align-items-center">
                        <div class="header__logo ">
                            <a href="/"><img src="{% static 'img/logo1.png'%}" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="header__nav">
                            <nav class="header__menu">
                                <ul class="menu__class">
                                    <li class="active"><a href="/">Accueil</a></li>
                                    <li><a href="/hotels">Hôtels</a></li>
                                    <li><a href="./about.html">Restaurants</a></li>
                                    <li><a href="#">Location de voiture</a></li>
                                   
                                </ul>
                            </nav>
                            <div class="header__nav__widget">
                                <a href="#">Devenir partenaire <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="canvas__open">
                    <span class="fa fa-bars"></span>
                </div>
            </div>
        </div>
</header>

