{% extends 'TdsBooking/layouts/base.html'%}
{% load static %}
{% load humanize %}
{% block style %}

{% endblock style %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-2">

            <div class="card m-b-30">
                <div class="card-body">

                    <h4 class="mt-0 header-title">Votre réservation à été enrégistrée avec succès</h4>
                    
                    <dl class="row mb-0">
                        <dt class="col-sm-4">Hôtel</dt>
                        <dd class="col-sm-8">h4</dd>

                        <dt class="col-sm-4">Chambre</dt>
                        <dd class="col-sm-8">5</dd>
                        

                        <dt class="col-sm-4">Arrivée</dt>
                        <dd class="col-sm-8">2</dd>
                        
                        <dt class="col-sm-4">Depart</dt>
                        <dd class="col-sm-8">5</dd>
                        
                        <dt class="col-sm-4">Séjour</dt>
                        <dd class="col-sm-8">5</dd>
                        
                        <dt class="col-sm-4">Montant</dt>
                        <dd class="col-sm-8">5</dd>

                    </dl>
                    
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}