{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        {% block title %}{% endblock %}
        <meta content="Admin Dashboard" name="description" />
        <meta content="Techno Data Solutions" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        
        <link rel="stylesheet" href="{% static 'accounts/vertical/assets/plugins/morris/morris.css' %}">

        <link href="{% static 'accounts/vertical/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'accounts/vertical/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'accounts/vertical/assets/css/style.css' %}" rel="stylesheet" type="text/css">
        {% block style %}{% endblock %}

    </head>


    <body class="fixed-left">

        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <div id="wrapper">

            {% include 'accounts/manager/side_bar.html' %}
            
            <div class="content-page">
                
                <div class="content">

                    {% include 'accounts/manager/nav_bar.html' %}
                    
                    <div class="page-content-wrapper ">

                        <div class="container-fluid">
                            {% block content %}{% endblock %}
                        </div>
                    </div> 
                </div> 

                {% include 'accounts/manager/footer.html' %}

            </div>
        </div>
        
        <script src="{% static 'accounts/vertical/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/modernizr.min.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/detect.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/fastclick.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/waves.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/js/jquery.scrollTo.min.js' %}"></script>

        <script src="{% static 'accounts/vertical/assets/plugins/skycons/skycons.min.js' %}"></script>

        <script src="{% static 'accounts/vertical/assets/plugins/peity/jquery.peity.min.js' %}"></script>

        <script src="{% static 'accounts/vertical/assets/plugins/morris/morris.min.js' %}"></script>
        <script src="{% static 'accounts/vertical/assets/plugins/raphael/raphael-min.js' %}"></script>

        <script src="{% static 'accounts/vertical/assets/pages/dashboard.js' %}"></script>
  
        <script src="{% static 'accounts/vertical/assets/js/app.js' %}"></script>
        {% block script %}{% endblock %}

    </body>
</html>

