{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
   
    <link rel="stylesheet" href="{% static 'accounts/horizontal/assets/plugins/morris/morris.css' %}">

    <link href="{% static 'accounts/horizontal/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'accounts/horizontal/assets/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'accounts/horizontal/assets/css/style.css' %}" rel="stylesheet" type="text/css">

    
    {% block style %}
    
    
    {% endblock %}
    
</head>

<body>

    {% include "accounts/header.html" %} 
    <div class="wrapper">
      <div class="container-fluid">
    
            {% if user.is_authenticated %}
              {% block content %}
              {% endblock %}
            
            {% else %}
              <p>Veillez vous connecter pour avoir accès à votre profile.</p>
              <div class="alert alert-dark" role="alert">
                Veillez vous <a href="{% url 'connexion' %}" class="alert-link">connecter</a>  pour avoir accès à votre profile.
              </div>
            {% endif %}

      </div>
    </div>
    

  <script src="{% static 'accounts/horizontal/assets/js/jquery.min.js' %}"></script>
  
  <script src="{% static 'accounts/horizontal/assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/modernizr.min.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/detect.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/fastclick.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/jquery.slimscroll.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/jquery.blockUI.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/js/waves.js' %}"></script>
        
  <script src="{% static 'accounts/horizontal/assets/plugins/skycons/skycons.min.js' %}"></>

       
  <script src="{% static 'accounts/horizontal/assets/plugins/peity/jquery.peity.min.js' %}"></script>

        
  <script src="{% static 'accounts/horizontal/assets/plugins/morris/morris.min.js' %}"></script>
  <script src="{% static 'accounts/horizontal/assets/plugins/raphael/raphael-min.js' %}"></script>

        
  <script src="{% static 'accounts/horizontal/assets/pages/dashboard.js' %}"></script>

  {% block script %}{% endblock %}
        
  <script src="{% static 'accounts/horizontal/assets/js/app.js' %}"></script>
  
</body>
</html>