<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>

    <div class="left-side-logo d-block d-lg-none">
        <div class="text-center">
            
            <a href="index.html" class="logo"><img src="assets/images/logo-dark.png" height="20" alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">
        
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menu principal</li>
             
                
                {% if user.is_manager == True  %}


                <li>
                    <a href="{% url 'manager-dash' %}" class="waves-effect">
                        <i class="dripicons-meter"></i>
                        <span> Tableau de bord </span>
                    </a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-store"></i> <span>Hotel</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'manager-hotel' %}">Détails de l'hôtel</a></li> 
                        <li><a href="#">Editer l'hôtel</a></li> 
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-box "></i> <span>Chambres</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'manager-chambres' %}">Liste des chambres</a></li> 
                        <li><a href="{% url 'add-room' %}">Ajouter une chambre</a></li> 
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-suitcase"></i> <span>Reservations</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'manager-reservations' %}">Liste des reservations</a></li> 
                        <li><a href="{% url 'add-booking' %}">Ajouter une reservation</a></li> 
                        <li><a href="{% url 'check-booking'  %}">Vérifier une reservation</a></li> 
                    </ul>
                </li>
                
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-card"></i> <span>Paiements</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'manager-paiements' %}">Liste des paiements</a></li> 
                    </ul>
                </li>

                {% else %}

                <li>
                    <a href="{% url 'customer-dash' %}" class="waves-effect">
                        <i class="dripicons-meter"></i>
                        <span> Tableau de bord </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'reservations' %}" class="waves-effect">
                        <i class="dripicons-suitcase"></i>
                        <span> Reservations</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'paiements' %}" class="waves-effect">
                        <i class="dripicons-card"></i>
                        <span> Paiements</span>
                    </a>
                </li>
                {% endif %}
                

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-user"></i> <span>Profil</span> <span class="menu-arrow float-right"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'edit-profil' %}">Editer mon profil</a></li> 
                        <li><a href="#">Sécurité</a></li> 
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> 
</div>