{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Chambres | Chambre </title>
{% endblock %}


{% block style %}

    <link href="{% static 'accounts/vertical/assets/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'accounts/vertical/assets/plugins/datatables/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'accounts/vertical/assets/plugins/datatables/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <link href="{% static 'accounts/vertical/assets/css/reservations/style.css' %}" rel="stylesheet" type="text/css">
    
    <link href="{% static 'accounts/vertical/assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">


{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tds Booking</a></li>
                <li class="breadcrumb-item"><a href="#">Hotel</a></li>
                <li class="breadcrumb-item active">Infos</li>
            </ol>
        </div>
        <h5 class="page-title">Infos</h5>
    </div>
</div>

<div class="row">
    
        <div class="col-md-10 offset-1">

            <div class="card m-b-30">
                <div class="card-body">
                    <h2 class="mt-0 header-title">Détails de la chambre {{ room.number }} </h2>
                    <table class="table table-bordered table-striped">
        
                        <tbody>
                          <tr>
                            <th scope="row">Dénomination</th>
                            <td> {{ room.name }} </td>
                          </tr>
                          <tr>
                            <th scope="row">Numéro</th>
                            <td> {{ room.number }} </td>
                          </tr>
                          <tr>
                            <th scope="row">Description</th>
                            <td colspan="2"> {{ room.description }} </td>
                          </tr>
                          <tr>
                            <th scope="row">Catégorie</th>
                            <td colspan="2"> {{ room.category }} </td>
                          </tr>
                          <tr>
                            <th scope="row">Superficie</th>
                            <td colspan="2"> {{ room.area }} m2</td>
                          </tr>
                          <tr>
                            <th scope="row">Nuité</th>
                            <td colspan="2"> {{ room.overnight }} F CFA </td>
                          </tr>
                          <tr>
                            <th scope="row">Nombre de lits</th>
                            <td colspan="2"> {{ room.beds }} </td>
                          </tr>
                          <tr>
                            <th scope="row">Capacité</th>
                            <td colspan="2"> {{ room.capacity }} personne(s)</td>
                          </tr>
                          <tr>
                            <th scope="row">Date de création</th>
                            <td colspan="2"> {{ room.created_at | date:"D d M Y, H:i" }} </td>
                          </tr>
                        </tbody>
                    </table>
                                        
                </div>

            </div>

        </div>
        
</div>

<div class="row">
    <div class="col-md-10 offset-1 mb-2">
      <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="modal" data-target="#myModal">Ajouter un équipement</button>
      
    </div>
    <div id="myModal" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title mt-0" id="myModalLabel">Ajouter un equipement</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form method="POST" action="{% url 'add-chambre-eq' room.token %}">
                {% csrf_token %}
              <div class="modal-body">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Dénomination:</label>
                  {% render_field eq_form.name class="form-control" id="recipient-name" %}
              </div>
              <div class="form-group">
                  <label for="message-text" class="col-form-label">Quantité:</label>
                  {% render_field eq_form.number class="form-control" id="recipient-name" %}

              </div>
                  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Annuler</button>
                  <button type="submit" class="btn btn-primary waves-effect waves-light">Enrégistrer</button>
              </div>
          </div><!-- /.modal-content -->
          </form>
      </div><!-- /.modal-dialog -->
    </div>
    <div class="col-md-10 offset-1">
        <div class="card m-b-30">
            <div class="card-body">

                <h2 class="mt-0 header-title">Equipements</h2>
                
                <table class="datatable table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                    <tr>
                        <th>Dénomination</th>
                        <th>Quantité</th>
                        <th>Date d'ajout</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                                                             
                    {% for eq in equipements %}
                        <tr>
                            <td> {{ eq.name }} </td>
                            <td> {{ eq.number }} </td>
                            <td> {{ eq.add_at | date:"D d M Y, H:i" }} </td>
                            <td class="text-center">
                                <button type="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editModal" data-id="{{ eq.id }}" id="btn_edit" ><i class="fa fa-edit"></i></button>
                                
                                <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delModal" data-id="{{ eq.id }}" id="btn_delete"><i class="fa fa-trash"></i></button>
                            </td> 
                        </tr> 
                    {% endfor %}

                    <div id="editModal" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title mt-0" id="myModalLabel">Éditer l'équipement</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <form method="POST" action="{% url 'edit-chambre-eq' 0 %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                      <input type="hidden" name="eq-id" id="eq_id" />

                                      <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Dénomination:</label>
                                      {% render_field eq_form.name class="form-control" id="recipient-name" %}
                                      </div>
                                      <div class="form-group">
                                          <label for="message-text" class="col-form-label">Quantité:</label>
                                          {% render_field eq_form.number class="form-control" id="recipient-name" %}
                                      </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Enrégistrer</button>
                                </div>
                          </div><!-- /.modal-content -->
                          </form>
                      </div><!-- /.modal-dialog -->
                    </div>

                    <div id="delModal" class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title mt-0" id="myModalLabel">Avertissement</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <form method="POST" action="{% url 'del-chambre-eq' 0 %}">
                                {% csrf_token %}
                              <div class="modal-body">
                              <input type="hidden" name="eq-id" id="eqpt_id" />

                              <p>Êtes vous sure d'éffectuer cette action??</p>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Non</button>
                                  <button type="submit" class="btn btn-danger waves-effect waves-light">Oui</button>
                              </div>
                          </div><!-- /.modal-content -->
                          </form>
                      </div><!-- /.modal-dialog -->
                    </div>
                    
                            
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div>





<div class="row">
  
<div class="col-md-10 offset-1">
  <div class="card m-b-30">
    
      <div class="card-body">
        
          <div class="bg-primary py-2">
            <form class="text-center" method="POST" enctype="multipart/form-data"  >
              {% csrf_token %}
              {{ form }}
              <button type="submit">Ajouter une image</button> 
            </form>
          </div>
              {% for img in imgs %}
              <div class="row d-inline-block mt-2">
                  <div class="col-md-12 popup-gallery">

                    <div class="img-fluid d-inline-block ">
                        <a class="d-inline-block mb-2" href="{{ img.image.url }}" title="{{ img.name }} | {{ img.created_at }} ">
                                <img src=" {{ img.image.url }} " alt="" width="120"  height="120">
                        </a>
                        
                    </div>
                  </div>
                  <div class="col-md-12">
                    <a class="" href=" {% url 'del-chambre-img' img.token %} ">
                        <button class="btn btn-danger btn-sm d-block" href="" role="button"><i class="fa fa-trash"></i></button>   
                    </a>
                  </div>
              </div>
              

                  
                  
              {% endfor %}

      </div>
  </div>
</div> 
</div>



{% endblock content %}

{% block script %}

     <script src="{% static 'accounts/vertical/assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
     <script src="{% static 'accounts/vertical/assets/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
   

     <script src="{% static 'accounts/vertical/assets/plugins/datatables/dataTables.responsive.min.js' %}"></script>
     <script src="{% static 'accounts/vertical/assets/plugins/datatables/responsive.bootstrap4.min.js' %}"></script>

     <script src="{% static 'accounts/vertical/assets/pages/datatables.init.js' %}"></script>

     <script src="{% static 'accounts/vertical/assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
     <script src="{% static 'accounts/vertical/assets/pages/lightbox.js' %}"></script>
     <script>

          $(document).ready(function(){

            $(document).on('click', '#btn_delete', function() {
                var ID = $(this).attr('data-id');
                
                $('#eqpt_id').val(ID);

                $('#delModal').modal('show');

            });

            $(document).on('click', '#btn_edit', function() {
                var ID = $(this).attr('data-id');
                $('#eq_id').val(ID);

                $('#editModal').modal('show');

            });
          })
     </script>

     
{% endblock %}