{% extends 'accounts/layouts/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
<title>Profil | Éditer profil</title>
{% endblock %}


{% block style %}



{% endblock %}


{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="float-right page-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Tds Booking</a></li>
                <li class="breadcrumb-item"><a href="#">Profil</a></li>
            </ol>
        </div>
        <h5 class="page-title">Profil</h5>
    </div>
</div>

<div class="row ">
    
    <div class="col-md-8 offset-2">
        <div class="card m-b-30">
            <div class="card-body">

                <h4 class="mt-0 header-title">Informations personnelles</h4>
                

                <div class="row">
                    <div class="col-md-9 text-right align-items-center">
                        <span>{{ profile.user.email }}</span>
                        
                    </div>
             
                    <div class="col-md-3">
                    {% if profile.profile_pic %}
                    <img class=" rounded-circle" src="{{ profile.profile_pic.url }}" alt="" width="100" height="100">
                    {% else %}
                    <img class=" rounded-circle" src=" {% static 'images/default_profile_image/default_profile_img.jpg' %} " alt="" width="100" height="100">
                    {% endif %}
                    </div>
                    </div>
                    
                

                <form class="" method="POST" enctype="multipart/form-data">
                   
                    {% csrf_token %}
                    

                    <div class="form-group">
                        <label>Nom</label>
                        <div>
                            {% render_field user_form.last_name class="form-control"  value=profile.user.first_name placeholder="Nom" %}  
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Prénoms</label>
                        <div>
                            {% render_field user_form.first_name class="form-control"  value=profile.user.first_name placeholder="Prénoms" %} 
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <div>
                            {% render_field user_form.email class="form-control"  value=profile.user.email placeholder="Adresse Email" %} 
                        </div>
                        
                    </div>
                   
     
                    
                    <div class="form-group">
                        <label>Numéro de Téléphone</label>
                        <div>
                            {% render_field user_form.tel class="form-control"  value=profile.user.tel placeholder="Numéro de téléphone" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Date de Naissance</label>
                        <div>
                            {% render_field profile_form.birthdate value=profile.birthdate class="form-control"  placeholder="Date de Naissance" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Pays</label>
                        <div>
                             {% render_field profile_form.country value=profile.country class="form-control"  placeholder="Pays" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <div>
                            {% render_field profile_form.gender value=profile.gender class="form-control" placeholder="Genre" %}
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <label>Photo de profil</label>
                        <div>
                            {% render_field profile_form.profile_pic %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">
                                Enrégistrer
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                Annuler
                            </button>
                            
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


    




{% endblock %}

{% block script %}
    
     
        
{% endblock %}